.App {
  text-align: center;
}

.Landing-Find {
  border: 1px solid grey;
  margin: 1%;
}

.Landing-Contact {
  border: 1px solid grey;
  margin: 1%;
}

.Landing-What-Now {
  border: 1px solid grey;
  margin: 1%;
}

.Landing-Questions {
  border: 1px solid grey;
  margin: 1%;
}

.Landing-Set-Reminder {
  border: 1px solid grey;
  margin: 1%;
}
